<div class="col-md-6 p-2">
    <div class="border rounded shadow p-2 bg-light">
        <div class="d-flex justify-content-between align-items-baseline mb-2 title-row rounded text-light p-2 flex-column">
            <h3 class="mb-0"><a class="text-decoration-none text-light" href="/post/{{id}}">{{name}}</a></h3>
            <p class="fs-6 mb-0">Authored by {{user.username}} on {{format_date createdAt}}</p>
        </div>
        <div class="p-2">
            <p>{{description}}</p>
        </div>

    </div>
</div>